ACTION!="add|change", GOTO="fido_end"

ATTRS{idVendor}=="1050", ATTRS{idProduct}=="0010|0110|0111|0114|0116|0401|0403|0405|0407|0410", ENV{ID_SECURITY_TOKEN}="1"

LABEL="fido_end"

# For challenge/response on console?
# Not clear when this is necessary -- maybe SSH extended features?
# See:
#  https://github.com/Yubico/yubikey-personalization/blob/master/70-yubikey.rules
#
#
# ACTION=="add|change", SUBSYSTEM=="usb", \
# ATTRS{idVendor}=="1050", ATTRS{idProduct}=="0010|0110|0111|0114|0116|0401|0403|0405|0407|0410", \
# TEST=="/var/run/ConsoleKit/database", \
# RUN+="udev-acl --action=$env{ACTION} --device=$env{DEVNAME}"